* {
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: #485665;
    padding: 0px;
    margin-top: 50px;
}

.interface{
    margin: 0px;
    display: flex;
}

.container1{
    margin-left: 250px;
    width:900px;
    height: 130px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background:#8E7C93;
}

.container2{
    margin: auto;
    width:95%;
    height:110px;
    background:#D0A5C0;
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.container3{
    width: min(calc(100% - 250px), 1400px);
    margin-left: 250px;
    aspect-ratio: 2;
    background:#8E7C93;
    justify-content: center;
    display: flex;
    border-radius: 0px  15px 15px 15px;
}

.container4{
    width: 940px;
    height: calc(100% - 70px);
    background: #D0A5C0;
}
.container5{
    width: calc(100% - 1000px);
    height: calc(100% - 70px);
    background: #D0A5C0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.container6{
    width: 95%;
    height: 92.5%;
    background: #D9D9D9;
    margin: 2.5%;
}

.container4, .container5{
    margin: 20px;
    margin-bottom: 40px;
    padding: 0px;
    border: none;
}

.batterybg1{
    width: 140px;
    height: 80px;
    background: #485665;
    border-radius: 5px;
}
.batterybg2{
    width:10px;
    height: 30px;
    background: #485665;
    margin-right: 40px;
}

.batterybar1{
    font-size: 23px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:20px;
    color: #8E7C93;
}

.scheinenwerfer1 {
    width: 140px; /* Breite der oberen Kante */
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 90px solid #40FF70;
    margin-bottom: 20px;
}

.scheinenwerfer2 {
    width: 140px; /* Breite der oberen Kante */
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 90px solid #40FF70;
    transform: rotate(180deg);
}

.auto {
    width: 150px;
    height: 250px;
    background-color: #eeeeee;
    border-radius: 20px;
}

.outside {
    margin-bottom: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inside {
    position: relative;
    margin: 0px 15px;
    width: 280px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: black;
}

.linie {
    display: none;
}

.smollinie {
    width: 2px;
    height: 25px;
    background-color: black;
    position: relative;
    z-index: 1;
}